Day_56/challenge_2/static/chillies.png
Day_56/challenge_2/static/cloud.png
Day_56/challenge_2/static/head.png
Day_56/challenge_2/static/Hills.jpg
Day_56/challenge_2/static/mountain.png
Day_56/static/LondonLightning.png
Day_58/Ex_2/resources/
Day_58/Ex_1/resources/
Day_58/Ex_2/website-text.txt
