body{
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(219, 219, 214);
    color: rgb(3, 3, 92);
}
div{
    border-bottom: 1px solid black;
    border-bottom: 1px solid black;
    border-color:  black;
}
table {
    font-family: Times New Roman;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #a3a1a1;
}