<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Roy Wilson</title>
    <link rel="stylesheet" , href="static/styles.css" />
    <link rel="icon" href="static/favicon.ico" />
  </head>
  <body>
    <div class="blue_back">
      <div class="div_title_page">
        <img src="/static/cloud.png" />
      </div>
      <div class="div_cursive_text">
        <center><h1 class="cursive_font">I'm Roy</h1></center>
      </div>
      <div class="div_intro_text">
        <center><h1 class="intro_font">An Administrator</h1></center>
      </div>
      <div class="div_bot_pic">
        <img src="/static/cloud.png" />
      </div>
      <div>
        <center><img src="static/mountain.png" /></center>
      </div>
    </div>
    <div>
      <center><img src="static/head.png" , width="200," height="200" /></center>
    </div>
    <div class="subheadingText">
      <center>Hello</center>
    </div>
    <div class="bodyText">
      <p>
        <center>
          I am currently trying to learn Python and have been following several
          courses.<br />Currently I am following 100 days of code with<br />
          Angela Yu. I love drinking beer with friends in an old-fashioned<br />
          pub with a good atmosphere.
        </center>
      </p>
    </div>
    <div>
      <center><img src="static/hills.jpg" /></cemter>
    </div>
    <div>
      <center>
        <p>
          My skills include, but are not limited to, avoiding work at all
          costs,<br />Eating good food, drinking good wines and beers,<br />and
          being an all round great person
        </p>
      </center>
    </div>
    <div>
      <table>
        <tr>
          <td><img src="static/chillies.png" /></td>
          <td>My very favourite food is something a bit spicey!</td>
        </tr>
      </table>
    </div>
  </body>
</html>
